@keyframes popup-animation {
    0% {
        filter: opacity(0);
        transform: translateY(calc(-100% - 10px));
    }
    15% {
        filter: none;
        transform: none;
    }
    80% {
        transform: translateY(10px);
        filter: opacity(1);
    }
    100% {
        transform: translateY(15px);
        filter: opacity(0);
    }
}

html, body {
    height: 100%;
}

body {
    background-color: var(--bg2);

    display: flex;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;
}

#left, #right {
    display: flex;
    flex-direction: column;

    background-color: var(--bg1);
}

#left {
    width: 40%;
    max-width: 400px;
    max-height: 100%;

    justify-content: space-between;
}

#tree {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;

    overflow-x: unset;
    overflow-y: auto;
}

#left label {
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
}

#path {
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 5px;
    box-sizing: border-box;

    font-family: "pixelify", sans-serif;
    font-size: 20px;
}

#tree>li {
    list-style-type: none;
}

#tree ul {
    list-style-type: none;

    margin: 0;
    padding: 5px 10px;

    border: 0 solid #0003;

    overflow: hidden;
}

#tree ul.closed {
    height: 0;
}

#tree ul:not(.closed) {
    border-left-width: 1px;
    border-bottom-width: 1px;
}

#tree p {
    cursor: pointer;
    margin: 10px 0 0 0;
    padding-left: 2px;

    background-color: #ddd;
    color: var(--fg1);
    border: 1px solid #0003;
    border-right-width: 0;
    border-bottom-width: 0;

    word-wrap: break-word;
}

#tree p:hover {
    background-color: #ccc;
}

#tree ul.closed>li>p {
    filter: contrast(1.1);
}

#tree span {
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
}

#tree span:hover {
    color: var(--fg2);
}

#tree span::after {
    content: "";
    flex-grow: 1;

    border-bottom: 1px solid #0003;
}

#contents {
    flex-grow: 1;

    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 0;

    border: none;
    resize: none;

    font-family: consolas, monospace;
    font-size: 16px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    flex-wrap: wrap;

    height: 100px;
    padding: 0 10px;
}

#buttons a {
    transition: 0.15s background-color linear, 0.15s border-radius linear;

    padding: 7px 0;
    flex-grow: 1;

    background-color: #ccc;
    border-radius: 5px;

    color: var(--fg1);
    text-align: center;
}

#buttons a:hover {
    background-color: #bbb;
    border-radius: 5px;

    text-decoration: none;
}

#popup {
    position: fixed;
    top: 20px;
    right: 20px;

    padding: 10px;
    border-radius: 5px;

    color: white;
    box-shadow: 0 0 10px #0003;
}

#popup.green { background-color: #23be59; }
#popup.orange { background-color: #ff9e3d; }
#popup.red { background-color: #ff5252; }

#popup:not(.reset-animation) {
    animation: 5s popup-animation forwards ease-out;
}

input[type=file] {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 0;
    height: 0;
}
