@keyframes fade {
    0% { filter: opacity(0); }
    100% { filter: opacity(1); }
}

@keyframes fadeHalf {
    0% { filter: opacity(0); }
    50% { filter: opacity(0); }
    100% { filter: opacity(1); }
}

@keyframes slide {
    0%,50% {
        filter: opacity(0);
        transform: translateX(-100%);
    }
    100% {
        filter: opacity(1);
        transform: translateX(0);
    }
}

html {
    height: 100%;
}

body {
    background-color: #35c4ec;
}

#canvas, #clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    image-rendering: pixelated;
}

#info {
    --a: 1;

    position: fixed;
    top: 0;
    left: 50%;

    transform: translateX(-50%);
    filter: drop-shadow(0 0 3px white) opacity(var(--a));
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: end;

    padding: 20px;
    gap: 20px;
}

#sidebar>.flex {
    display: flex;
    gap: 20px;
}

#minimap {
    border: 2px solid white;

    border-radius: 12px;
}

#discord, #settings-button, #powerups, #colors {
    box-sizing: border-box;

    width: 80px;
    height: 80px;
    border-radius: 25px;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #0003;
}

#sidebar>.flex>div:not(#colors) {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sidebar>.flex>div img {
    width: 60px;
    height: 60px;
}

#discord img {
    transition: 0.5s transform cubic-bezier(0.42, 0, 0.15, 1);
}

:is(#settings-button, #powerups) img {
    transition: 0.3s transform ease-out, 0.3s filter ease-out;
}

#discord {
    background-color: #7289da;
    backdrop-filter: none;
}

#powerups {
    background-color: var(--bgp1);
    backdrop-filter: none;
}

#discord:hover img {
    transform: rotate(360deg);
}

#settings-button:hover img {
    transform: rotate(60deg);
}

#powerups img {
    filter: drop-shadow(0 0 3px #0005);
}

#powerups:hover img {
    transform: scale(1.1);
}

#sidebar p {
    margin: 0;

    filter: drop-shadow(0 0 3px white);

    font-size: 20px;
}

#colors {
    transition: 0.25s height linear, 0.15s border-radius linear;

    display: flex;
    flex-direction: column;
    align-items: end;

    max-height: calc(100% - 160px);

    padding: 5px;
}

#colors:hover {
    height: 570px;

    border-radius: 40px;
    animation: 0.5s open linear;
}

#colors>div {
    position: relative;
    display: flex;

    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 70px;
    height: 70px;
    border-radius: 35px;
}

#colors>div:hover {
    width: calc(var(--x) * 70px);

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #0003;
}

#colors:hover>div {
    animation: 0.5s fadeHalf;
}

#colors:not(:hover)>div {
    display: none;
}

#colors:not(:hover)>div:has(.selected) {
    display: flex;
}

#colors .color {
    width: 50px;
    height: 50px;

    box-shadow: 0 0 5px var(--col);
    background-color: var(--col);

    border: 2px solid white;
    border-radius: 25px;
    box-sizing: border-box;
}

#colors .color:hover {
    transform: scale(1.1);
}

#colors:hover>div:not(:hover) .color:not(#colors>div :first-child) {
    display: none;
}

#colors:not(:hover)>div .color {
    display: none;
}

#colors:not(:hover)>div .color.selected {
    display: block;
}

#colors .color.selected::after {
    content: "";

    position: relative;
    display: block;
    top: -10px;
    left: -10px;
    width: 60px;
    height: 60px;

    border-radius: 30px;
    border: 3px solid white;

    box-shadow: inset 0 0 20px #0003;
}

#popup {
    animation-fill-mode: forwards;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #0007;
    backdrop-filter: blur(2px);
}

#popup.show {
    animation: fade 0.5s normal forwards;
}

#popup.hide {
    animation: fade 0.5s reverse forwards;
}

br.line {
    content: "";

    transform: translateX(-30px);
    display: block;

    width: calc(100% + 60px);
    margin-top: 10px;

    border-bottom: 1px solid #0003;
}

.section {
    padding: 10px;

    border: 1px solid #0003;
    border-radius: 4px;

    background-color: #00000005;
}

#popup>div {
    position: fixed;

    left: 0;
    width: 40%;
    max-width: 600px;

    background-color: var(--bg1);
}

#popup>div:not(#small-footer) {
    top: 0;

    height: calc(100% - 50px);

    padding: 30px;
    box-sizing: border-box;

    box-shadow: 0 0 15px #0005;

    overflow-x: hidden;
    overflow-y: auto;
}

#popup>div#small-footer {
    bottom: 0;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    font-size: 16px;
    color: var(--fg2);
}

#popup.show>div {
    animation: slide 1s normal forwards ease-out;
}

#popup.hide>div {
    animation: slide 0.5s reverse forwards ease-out;
}

h1 {
    display: flex;
    align-items: center;
    margin: 0 0 50px 0;

    font-family: "stifly", sans-serif;
    font-size: 80px;
}

h1::after {
    content: "";
    display: block;
    width: 160px;
    min-width: 160px;
    height: 160px;

    background-image: url("/img/icon/icon-512.png");
    background-size: cover;
    filter: drop-shadow(0 0 3px #000a);
}

h2 {
    font-size: 32px;
    margin: 0;
}

#popup p {
    margin-top: 0.5em;

    font-weight: 500;
}

#popup strong {
    font-weight: 1000;
    color: #51cd76;
}

#popup strong.red {
    color: #f00;
}

a.button, a.toggle, a.toggle::after {
    --r: 110;
    --g: 127;
    --b: 175;

    display: block;

    margin: 10px 0;
    padding: 5px 0;

    text-align: center;
    font-weight: 400;

    box-sizing: border-box;
    border: 3px solid rgba(var(--r), var(--g), var(--b), 1);
    background-color: rgba(var(--r), var(--g), var(--b), 0.5);
    color: #fff;
}

a.button {
    transition: 0.08s filter linear;

    width: 100%;
}

a.button:hover, a.toggle:hover {
    text-decoration: none;

    filter: brightness(1.1);
}

a.toggle {
    transition: 0.2s filter ease-out;

    position: relative;

    width: calc(100% - 63px);
}

a.toggle::after {
    --r: 255;
    --g: 38;
    --b: 0;
    --content: "no";

    content: var(--content);

    position: absolute;
    top: -13px;
    left: calc(100% + 13px);

    width: calc(50px + 3px);
    height: calc(100% + 6px);

    text-transform: uppercase;
}

a.toggle.active::after {
    --r: 37;
    --g: 182;
    --b: 37;
    --content: "yes";
}
