body {
    background-color: #35c4ec;
}

#canvas, #clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    image-rendering: pixelated;
}

#minimap {
    position: fixed;
    top: 20px;
    right: 20px;

    border: 2px solid white;
}

#panel {
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: rgba(255, 255, 255, 0.5);
}
