@keyframes fade {
    0% { filter: opacity(0); }
    100% { filter: opacity(1); }
}

@keyframes fadeHalf {
    0% { filter: opacity(0); }
    50% { filter: opacity(0); }
    100% { filter: opacity(1); }
}

@keyframes slide {
    0%,50% {
        filter: opacity(0);
        transform: translateX(-100%);
    }
    100% {
        filter: opacity(1);
        transform: translateX(0);
    }
}

body {
    background-color: #35c4ec;
}

#canvas, #clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    image-rendering: pixelated;
}

#sidebar {
    position: fixed;
    top: 0;
    right: 0;

    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: end;

    padding: 20px;
    gap: 20px;
}

#minimap {
    border: 2px solid white;

    border-radius: 12px;
}

#settings-button, #colors {
    box-sizing: border-box;

    width: 80px;
    height: 80px;
    border-radius: 25px;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #0003;
}

#settings-button a {
    transition: 0.3s transform ease-out;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#settings-button a:hover {
    transform: rotate(60deg);
}

#settings-button a img {
    width: 70px;
    height: 70px;
}

#colors {
    transition: 0.25s height linear, 0.15s border-radius linear;

    display: flex;
    flex-direction: column;
    align-items: end;

    max-height: calc(100% - 160px);

    padding: 5px;
}

#colors:hover {
    height: 570px;

    border-radius: 40px;
    animation: 0.5s open linear;
}

#colors>div {
    --x: 1;

    position: relative;
    display: flex;

    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: calc(var(--x) * 70px);
    height: 70px;
    border-radius: 35px;
}

#colors>div:hover {
    --x: 3;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px #0003;
}

#colors:hover>div {
    animation: 0.5s fadeHalf;
}

#colors:not(:hover)>div {
    display: none;
}

#colors:not(:hover)>div:has(.selected) {
    display: flex;
}

#colors .color {
    width: 50px;
    height: 50px;

    box-shadow: 0 0 5px var(--col);
    background-color: var(--col);

    border: 2px solid white;
    border-radius: 25px;
    box-sizing: border-box;
}

#colors .color:hover {
    transform: scale(1.1);
}

#colors:hover>div:not(:hover) .color:not(#colors>div :first-child) {
    display: none;
}

#colors:not(:hover)>div .color {
    display: none;
}

#colors:not(:hover)>div .color.selected {
    display: block;
}

#colors .color.selected::after {
    content: "";

    position: relative;
    display: block;
    top: -10px;
    left: -10px;
    width: 60px;
    height: 60px;

    border-radius: 30px;
    border: 3px solid white;

    box-shadow: inset 0 0 20px #0003;
}

#popup {
    animation-fill-mode: forwards;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #0007;
    backdrop-filter: blur(2px);
}

#popup.show {
    animation: fade 0.5s normal forwards;
}

#popup.hide {
    animation: fade 0.5s reverse forwards;
}

#popup>div {
    position: fixed;

    top: 0;
    left: 0;
    width: 40%;
    max-width: 600px;
    height: 100%;

    padding: 30px;
    box-sizing: border-box;

    box-shadow: 0 0 15px #0005;
    background-color: var(--bg1);

    overflow-x: hidden;
    overflow-y: auto;
}

#popup.show>div {
    animation: slide 1s normal forwards ease-out;
}

#popup.hide>div {
    animation: slide 0.5s reverse forwards ease-out;
}

h1 {
    font-family: "stifly", sans-serif;
    font-size: 80px;
    margin: 0 0 50px 0;
}

h2 {
    font-size: 32px;
    margin: 0;
}

#popup p {
    font-weight: 500;
}

#popup strong {
    font-weight: 1000;
    color: #51cd76;
}

#popup strong.red {
    color: #f00;
}

a.button {
    transition: 0.08s background-color linear;

    display: block;

    width: 100%;
    margin-bottom: 30px;
    padding: 5px 0;

    text-align: center;
    font-weight: 400;

    box-sizing: border-box;
    border: 3px solid #6e7faf;
    background-color: #9ca8c9;
    color: #fff;
}

a.button:hover {
    text-decoration: none;

    background-color: #9ca8c9af;
}

br.line {
    content: "";

    display: block;
    width: calc(100% + 60px);
    transform: translateX(-30px);

    border-bottom: 1px solid #0003;
}
