html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #35c4ec;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 150px min(calc((100% - 1000px) / 2), 300px);
    margin-bottom: 0;
    padding: 40px 0 100px 0;

    border-radius: 40px 40px 0 0;
    box-shadow: 0 0 30px #0003;
    backdrop-filter: blur(5px);

    background-color: var(--bg1);
}

h1 {
    font-family: "stifly", sans-serif;
    font-size: 128px;
    margin: 20px 0 40px 0;
}

h1::after {
    content: "";
    display: block;
    margin: 10px 10% 0 10%;

    border-bottom: 1px solid #0003;
}

h2 {
    font-size: 48px;
    margin: 0;
}

h3 {
    font-size: 32px;
}

p {
    font-size: 20px;
    margin-bottom: 5px;
}

a.big {
    transition: 0.1s background-color linear;

    margin-top: 50px;
    width: 808px;
    box-sizing: border-box;

    text-align: center;
    font-size: 32px;
    color: var(--fg1);
}

a.big:hover {
    background-color: #e7e7e7;

    text-decoration: none;
}

#clouds {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    filter: blur(10px);
}

canvas:not(#clouds), a.big {
    padding: 15px;

    border: 1px solid #0003;
    border-radius: 12px;

    background-color: white;
}

canvas[loading] {
    filter: opacity(0.5);
}

code {
    display: flex;
    justify-content: center;

    width: 810px;
    min-height: 30px;
    padding: 5px;
    box-sizing: border-box;

    background-color: black;
    border: 2px solid #f77;

    font-size: 16px;
    font-family: courier new, consolas, monospace;
    color: red;
}

#footer {
    background-color: white;
}
