#main {
    margin: 150px 300px;
    padding: 20px 80px;

    border-radius: 40px;
    box-shadow: 0 0 30px #0003;
    backdrop-filter: blur(5px);
}

div.flex {
    display: flex;
    gap: 20px;
    align-items: end;
}

h1, h2 {
    font-family: "stifly", sans-serif;
}

h1 {
    font-size: 128px;
    margin: 20px 0 40px 0;
}

h2 {
    font-size: 64px;
    margin: 0 0 50px 0;
}

h3 {
    font-size: 48px;
    margin: 30px 0 0 0;
}

p {
    font-weight: 500;
    font-size: 24px;
}

a.end {
    display: block;
    margin: 30px 0;
}

br.line {
    content: "";
    display: block;

    width: 70%;
    height: 50px;

    border-bottom: 1px solid #0003;
}

#canvas-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
}
